<!-- BEGIN MAIN CONTENT -->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PORTLET-->
		<div class="portlet box blue-hoki">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-gift"></i>Registration and login
				</div>
			</div>
			<div class="portlet-body form">
				<!-- BEGIN FORM-->
				<form action="#" id="form-username" class="form-horizontal form-bordered">
					<div class="form-body">
						<div class="form-group">
							<label class="control-label col-md-3">Username</label>
							<div class="col-md-4">
								<div class="input-group" style="text-align:left">
									<input type="text" class="form-control" name="username1" id="username1_input">
									<span class="input-group-btn">
									<a href="javascript:;" class="btn green" id="username1_checker">
									<i class="fa fa-check"></i> Check </a>
									</span>
								</div>
								<div class="help-block">
									Type a username and check its availability.
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-3">Email</label>
							<div class="col-md-4">
								<div class="input-group" style="text-align:left">
									<input type="text" class="form-control" name="email1" id="email1_input">
									<span class="input-group-btn">
									<a href="javascript:;" class="btn green" id="email1_checker">
										<i class="fa fa-check"></i> Check </a>
									</span>
								</div>
								<div class="help-block">
									Type a email and check its availability.
								</div>
							</div>
						</div>
						<div class="form-group last password-strength">
							<label class="control-label col-md-3">Password</label>
							<div class="col-md-4">
								<input type="text" class="form-control" name="password" id="password_strength">
								<span class="help-block">
								Type a password to check its strength </span>
							</div>
						</div>
					</div>
					<div class="form-actions">
						<div class="row">
							<div class="col-md-offset-3 col-md-9">
								<button type="submit" class="btn green"><i class="fa fa-unlock"></i> Login</button>
								<button type="submit" class="btn purple"><i class="fa fa-institution"></i> Registration</button>
								<button type="button" class="btn default"><i class="fa fa-trash-o"></i> Cancel</button>
							</div>
						</div>
					</div>
				</form>
				<!-- END FORM-->
			</div>
		</div>
		<!-- END PORTLET-->
	</div>
</div>
<!-- END MAIN CONTENT -->
<script>
	ComponentsFormTools.init(); // init todo page
</script>
